<div class="page-body-wrapper full-page-wrapper auth-page">
  <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto">
        <h2 class="text-center mb-4">Registro</h2>
        <div class="auto-form-wrapper">
          <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <!--              Name-->
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" formControlName="name" placeholder="Nombre" type="text">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i *ngIf="form.get('name')?.valid" class="fa fa-check-circle"></i>
                  </span>
                </div>
              </div>
            </div>
            <!--              Email-->
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" formControlName="email" placeholder="Correo" type="email">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i *ngIf="form.get('email')?.valid" class="fa fa-check-circle"></i>
                  </span>
                </div>
              </div>
            </div>
            <!--            Password-->
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" formControlName="password" placeholder="Password" type="password">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i *ngIf="form.get('password')?.valid" class="fa fa-check-circle"></i>
                  </span>
                </div>
              </div>
            </div>
            <!--            Action button-->
            <div class="form-group">
              <button *ngIf="!isLoading"
                      [disabled]="form.invalid"
                      class="btn btn-primary submit-btn btn-block"
                      type="submit">
                Crear cuenta
              </button>
              <button *ngIf="isLoading"
                      [disabled]="true"
                      class="btn btn-primary submit-btn btn-block"
                      type="button">
                Espere...
              </button>
            </div>
            <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">ya tienes una cuenta?</span>
              <br>
              <a class="text-black text-small" routerLink="/login">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
