<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar Ingreso / Egreso</h4>
        <p class="card-description">
          Especifique el monto y el tipo
        </p>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="form-group">
            <label>Descripción</label>
            <input class="form-control"
                   formControlName="description"
                   name="descripcion"
                   placeholder="Descripción"
                   type="text">
          </div>
          <div class="form-group">
            <label>Monto</label>
            <input class="form-control"
                   formControlName="mount"
                   name="monto"
                   placeholder="Monto"
                   type="number">
            <p>Debe de ser un monto positivo</p>
          </div>
          <div class="form-group">
            <label>Tipo</label>
            <br>
            <button (click)="type = 'expense'"
                    *ngIf="type === 'income'"
                    class="btn btn-primary btn-block"
                    type="button">
              Ingreso
            </button>
            <button (click)="type = 'income'"
                    *ngIf="type === 'expense'"
                    class="btn btn-warning btn-block"
                    type="button">
              Egreso
            </button>
          </div>
          <hr>
          <button [disabled]="form.invalid ||(ui$|async)?.isLoading" class="btn btn-success mr-2" type="submit">
            <i *ngIf="!(ui$|async)?.isLoading" class="fa fa-save"></i>
            <i *ngIf="(ui$|async)?.isLoading" class="fa fa-spin fa-sync"></i>
            {{ (ui$|async)?.isLoading ? 'Guardando' : 'Agregar' }}
          </button>
          <!--
            <button disabled class="btn btn-success mr-2">
              <i class="fa fa-spin fa-sync"></i>
              Espere por favor...
            </button>
          -->
          <button class="btn btn-light" type="reset">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
